
/* ----------------------------------------------------------------------------------------
*                                   1. Custom Styling
* --------------------------------------------------------------------------------------- */

.numberInput75 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    width: 75%;
}

.numberInput100 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    width: 100%;
}

.numberInput10 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    width: 10%;
}

.numberInput15 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    width: 15%;
}

.fizz {
    font-weight: bold;
    color: darkred
}

.buzz {
    font-weight: bold;
    color: darkblue;
}

.fizzBuzz {
    font-weight: bold;
    color: darkgreen;
}

.centerItems {
    align-items: center;
    justify-content: center;
}

.faCustom {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.work-items .overlayCustom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}